.signup-container {
    width : 980px;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
    
}
/* intro */
.intro a {
    display: inline-block;
    width: 40px;
    height: 40px;
}
.intro .salutation {
    font-size: 1.5em;
}
/* user info */
.user-info {
    width: 270px;
    margin: 0 auto;
    text-align: center;
}
.user-info .required, 
.user-info .error{
    width: 250px;
    height: 30px;
    padding: 10px 8px;
    border: 2px solid #ddd;
    border-radius: 16px;
    font-size: 16px;
    line-height: 16px;
}
.user-info .required:focus {
    outline: 3px solid #1ac2d1;
}
.user-info .error:focus {
    outline: 3px solid #d8531e;
}
.user-info .nickname {
    margin-bottom: 10px;
}
.user-info .signup-btn {
    display: table-cell;
    vertical-align: middle;
    width: 270px;
    height: 50px;
    border-radius: 50px;
    background-color: #179ea9;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    cursor: pointer;
}
.user-info .validation {
    float: right;
    margin: 5px 10px 10px 0;
    color: #168e99;
}
.user-info .errorMessage {
    float: right;
    margin: 5px 10px 10px 0;
    color: #d8531e;
}
.user-info .validation .exclamation {
    vertical-align: middle;
    margin-top: -3px;
}
.user-info .password {
    position: relative;
}
.user-info .password .show {
    position: absolute;
    top: 37px;
    right: 10px;
    color: #179ea9;
    cursor: pointer;
}

/* social login */
.social-login-btn {
    width: 270px;
    margin: 0 auto;
    text-align: center;
}
.social-login-btn p {
    color: #797979;
}
.social-login-btn div{
    width: 270px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #797979;
}
.social-login-btn div:hover {
    border: 1px solid #a5e9fd;
    background-color: #cff2fd9b;
}
.social-login-btn div span {
    margin-left: 15px;
}